.generate-transaction-pdf {
  cursor: pointer;
  height: 40px;
  width: 150px;
  margin: 5px;
  border-radius: 5px;
  border: 3px solid #2c2c2c;
  color: #2c2c2c;
  font-weight: bolder;
  background-color: #fff;
}
