.verify-modal {
  width: 80%;
  max-height: 70vh; /* Set maximum height to 70% of viewport height */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: fixed; /* Makes the modal fixed in place, not affected by scrolling */
  top: 50%; /* Centers the modal vertically */
  left: 50%; /* Centers the modal horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Offsets the modal to ensure it's perfectly centered */
  z-index: 1002;
}

.verify-modal h1 {
  width: 50%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.verify-modal .table-area {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: auto;
  margin: 20px auto;
}

.verify-modal .form-informations {
  width: 90%;
  height: 100px;
  margin: 20px auto 0px auto;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.verify-modal .form-informations .form-information {
  width: 30%;
  height: 50%;
  margin: 10px auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
}

.form-info {
  width: 80%;
  height: 70%;
  border: black 1px solid;
}
