@import url("https://fonts.googleapis.com/css?family=Poppins");
#header {
  font-family: Poppins, sans-serif;
  background-color: white;
  height: 100px;
  width: calc(100% - 275px);
  margin: 0;
  margin-left: 275px;
  color: #3b46ab;
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#profile {
  margin: auto 50px auto auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
  height: fit-content;
}

#profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}

#profile-info p {
  margin: -5px;
}

#profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}


.overlay-details {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}


.modal-details {
  width: 50%;
  height: fit-content;
  background-color: white;
  position: fixed; /* Makes the modal fixed in place, not affected by scrolling */
  top: 50%; /* Centers the modal vertically */
  left: 50%; /* Centers the modal horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Offsets the modal to ensure it's perfectly centered */
  z-index: 1011;
  padding: 20px;
  border-radius: 20px;
  border: black 1px solid;
}

.modal-details h1 {
  width: 50%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  color: black;
}