@import url("https://fonts.googleapis.com/css?family=Poppins");

#nav-container {
  background-color: #2c2c2c;
  display: flex;
  width: 275px;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#app-title {
  display: flex;
  height: 100px;
  padding: 10px 20px 0px 20px;
  align-items: center;
  gap: 14px;
  align-self: stretch;
  text-decoration: none;
}

#app-title #app-icon {
  width: 65px;
  height: 65px;
}

#app-title #app-title-text {
  display: flex;
  padding: 5px 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
  align-self: stretch;
  height: 70px;
}

#app-title #app-title-text #app-title-name {
  width: 134px;
  color: #fff;
  height: 19px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 75% */
  margin: 0;
  padding: 0;
}

#app-title #app-title-text #app-title-desc {
  align-self: stretch;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 7px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 300% */
  text-transform: capitalize;
  margin: 0;
}

#vertical-nav {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  align-self: stretch;
  padding: 0px;
  margin: 0px;
  height: calc(100% - 100px);
}

#vertical-nav .nav-item {
  display: flex;
  padding: 10px 0px 10px 20px;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}

#vertical-nav .nav-item p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 131.25% */
  text-transform: capitalize;
}

#vertical-nav .nav-item img {
  width: 30px;
  height: 30px;
}

#vertical-nav ul {
  margin-top: 50px;
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
}

.nav-item {
  display: flex;
  width: calc(100% - 30px);
  height: 50px;
  margin: 0;
  padding: 0;
  align-self: stretch;
  text-decoration: none;
  padding: 10px 0 10px 30px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#vertical-nav .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#vertical-nav .disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: rgba(59, 70, 171, 0.3);
}

#app-credits {
  border-top: 1px solid rgba(161, 161, 161, 0.25);
  display: flex;
  flex-direction: column;
  width: 215px;
  height: 60px;
  padding: 10px 30px;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

#app-credits a {
  color: #fff;
  text-decoration: none;
}
